

div.box, div.cell {
	display: inline-block;
	}

.cell input { 
	width: 60px; 
	height: 60px;
	}	

div.box {
	border: 4px solid red;
}

#sudoku {
	font-size: 0;
	text-align: center;
}	

body {
	text-align: center;
	font-family: Arial;
	background: url(http://t0.gstatic.com/images?q=tbn:ANd9GcR_a_7K1k6HkwO8PVOTBTHZdw44Wn7BiWWvS1ipxKeyMAnPIMJd);
}

h1 {
	color: white;
}

.incorrect {
	background-color: yellow;
}

.value-provided { 
background-color:  #DDD;
}

#flash {
	margin: 20px ;
	color: #FF0000;
}


